<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="HotelManagementConnectionString" connectionString="Data Source=JAMESWANG\SQLEXPRESS;Initial Catalog=HotelManagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<!-- other configuration sections -->
		<siteMap defaultProvider="AspNetXmlSiteMapProvider">
			<providers>
				<add name="Web1SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/management/Web1.sitemap"/>
				<add name="Web2SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/customer/Web2.sitemap"/>
			</providers>
		</siteMap>
	</system.web>
	<appSettings>
	<add key="localhost.WeatherWebService" value="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"/>
	</appSettings></configuration>
